.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigoter {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.nav {
  transition: all .4s linear;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.5rem;
}

.nav:hover {
  cursor: pointer;
  background-color: #e1e7ea;
  border-radius: 10px;
}

.banner-cnt {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.banner {
  width: 98vw;
  height: 77vh;
  position: relative;
  margin-top: 1vh;
  margin-bottom: 3vh;
  color: aliceblue;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.banner-img {
  height: 100%;
  width: 100%;
}

.card-data {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  backdrop-filter: blur(10px);
} 

.movie-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
}

.movie-card {
  width: 22vw;
  height: 40vh;
  color: white;
  margin: 0.5rem;
}

.movie-img {
  height: 100%;
  width: 100%;
}

.movie-title {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  backdrop-filter: blur(10px);
  top: 1rem;
  left: 1rem;
}

.btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-bottom: 5px;
  width: 30%;
  font-size: 1rem;
  position: absolute;
  top: 14rem;
  background-color: #e84393;
  border: none;
}

.btn:hover {
  background-color: #fd79a8;
}

.pagenavigator {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pre-next:hover {
  cursor: pointer;
}

.Genres-col {
  padding: 3rem;
  padding-top: 0;
  padding-left: 2rem;
  margin-top: 1rem;
}

.Genres-name:hover {
  font-size: 1.2rem;
  background-color: rgb(108, 108, 195);
  color: white;
}

.input-cnt {
  margin-bottom: 1rem;
}

.input {
  height: 2rem;
  font-size: 1rem;
}

.num-input {
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 1rem;
  margin-left: 0.5rem;
  outline: none;
}

.col-8 {
  border: 1px solid black;
  display: flex;
  justify-content: left;
  border-radius: 3px;
}

.search-icon {
  height: 2rem;
  padding-top: 8px;
  border-right: none;
  padding-left: 0.1rem;
  padding-right: 0.18rem;
}

.movie-input {
  border: none;
  border-left: none;
  padding-left: 0.3rem;
  padding-bottom: 4px;
  outline: none;
}

.sort-indicator:hover {
  font-size: 20px;
  cursor: pointer;
}

.btn-remove {
  border: none;
  background-color: rgb(255, 255, 255);
}

.btn-remove:hover {
  font-size: 20px;
  color: red;
}

@media screen and (max-width: 400px) {
  .navigoter {
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  .banner {
    height: 40vh;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .banner-img {
    height: 40vh;
  }

  .banner-title {
    color: white;
    position: absolute;
    top: 8rem;
    left: 15px;
    font-size: 20px;
  }

  .banner-text {
    color: white;
    position: absolute;
    top: 10rem;
    left: 15px;
    font-size: 10px;
  }

  .movie-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.1rem;
  }

  .movie-card {
    width: 40vw;
    height: 30vh;
    margin: 0.2rem;
    color: white;
  }

  .movie-img {
    height: 100%;
    width: 100%;
  }

  .movie-title {
    position: absolute;
    /* left: 3.7rem; */
    top: 0.6rem;
    font-size: 15px;
  }

  .btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin-bottom: 1px;
    width: 50%;
    height: 16%;
    position: absolute;
    /* left: 3.7rem; */
    top: 9.8rem;
    font-size: 13px;
  }

  .pagenavigator {
    margin-top: 0.4rem;
  }
}
