/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navigoter {
  height: 5rem;
  display: flex;
  justify-content: left;
}

.nav:hover{
  cursor: pointer;
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
}

.banner-cnt{
  display: flex;
  justify-content: center;
}

.banner {
  width: 98vw;
  height: 73vh;
  position: relative;
  margin-top: 1vh;
  margin-bottom: 3vh;
  color: aliceblue;
  margin-left: .5rem;
  margin-right: .5rem;
}

.banner-img {
  height: 100%;
  width: 100%;
}

.banner-title {
  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    backdrop-filter: blur(10px);
  position: absolute;
  top: 25rem;
  left: 1.5rem;
}

.banner-text {
  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    backdrop-filter: blur(10px);
  color: aliceblue;
  position: absolute;
  top: 27rem;
  left: 1.5rem;
  overflow: hidden;
}

.movie-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem;
}

.movie-card {
  width: 22vw;
  height: 40vh;
  color: white;
  margin: .5rem;
}

.movie-img {
  height: 100%;
  width: 100%;
}

.movie-title {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  backdrop-filter: blur(10px);
  top: 1rem;
  left: 1rem;
}

.btn-wrapper{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-bottom: 5px;
  width: 30%;
  font-size: 1rem;
  position: absolute;
  /* left: 3.7rem; */
  top: 16rem;
}

.pagenavigator{
  display:flex;
  justify-content: center;
  width: 100%;
}

.pre-next:hover{
  cursor: pointer;
}

.Genres-col{
  padding: 3rem;
  padding-top: 0;
  padding-left: 2rem;
  margin-top: 1rem;
}

.Genres-name:hover{
  font-size: 1.2rem;
  background-color: rgb(108, 108, 195);
  color:white;
}

.input-cnt{
  margin-bottom: 1rem;
}

.input{
  height: 2rem;
  font-size: 1rem;
}

.num-input{
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 1rem;
  margin-left: .5rem;
  outline: none;
}

.col-8{
  border: 1px solid black;
  display: flex;
  justify-content: left;
  border-radius: 3px;
}

.search-icon{
  height: 2rem;
  padding-top: 8px;
  border-right: none;
  padding-left: 0.10rem;
  padding-right: 0.18rem;
}

.movie-input{
  border: none;
  border-left: none;
  padding-left: 0.30rem;
  padding-bottom: 4px;
  outline: none;
}

.sort-indicator:hover{
  font-size: 20px;
  cursor: pointer;
}

.btn-remove{
  border: none;
  background-color: rgb(255, 255, 255);
}

.btn-remove:hover{
  font-size: 20px;
  color: red;
}



@media screen and (max-width:400px) {

  .navigoter{
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  .banner {
    height: 40vh;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .banner-img {
    height: 40vh;
  }

  .banner-title {
    color: white;
    position: absolute;
    top: 8rem;
    left: 15px;
    font-size: 20px;
  }

  .banner-text {
    color: white;
    position: absolute;
    top: 10rem;
    left: 15px;
    font-size: 10px;
  }

  .movie-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .1rem;
  }

  .movie-card {
    width: 40vw;
    height: 30vh;
    margin: .2rem;
    color: white;
  }

  .movie-img {
    height: 100%;
    width: 100%;
  }

  .movie-title {
    position: absolute;
    /* left: 3.7rem; */
    top: .6rem;
    font-size: 15px;
  }

  .btn-wrapper{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin-bottom: 1px;
    width: 50%;
    height: 16%;
    position: absolute;
    /* left: 3.7rem; */
    top: 9.8rem;
    font-size: 13px;
  }

  .pagenavigator{
    margin-top: .4rem;
  }
}